<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Menu Generales</h5>
          <p class=" category">Módulo de información general en el Sistema</p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">public</i>
                <p></p>
                <button type="button" (click)="PaisListar()" class="btn btn-primary btn-sm">Empresas </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="ProvinciasListar()" class="btn btn-primary btn-sm">Sucursales </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">domain</i>
                <p></p>
                <button type="button" (click)="CiudadesListar()" class="btn btn-primary btn-sm">Parametros </button>
              </div>
            </div>

            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">public</i>
                <p></p>
                <button type="button" (click)="PaisListar()" class="btn btn-primary btn-sm">Paises </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="ProvinciasListar()" class="btn btn-primary btn-sm">Provincias </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">domain</i>
                <p></p>
                <button type="button" (click)="CiudadesListar()" class="btn btn-primary btn-sm">Ciudades </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
