<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Menu de Inventarios</h5>
          <p class=" category">Módulo de Inventarios en el Sistema</p>
        </div>
        <div class=" card-body all-icons">
          <div class="row"><h4 class="col-md-12">Maestros</h4></div>
          <div class=" row">
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">user</i>
                <p></p>
                <button type="button" (click)="ProductosListar()" class="btn btn-primary btn-sm">Productos </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="ProveedoresListar()" class="btn btn-primary btn-sm">Proveedores </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">Bodegas</i>
                <p></p>
                <button type="button" (click)="BodegasListar()" class="btn btn-primary btn-sm">Bodegas </button>
              </div>
            </div>


          </div>

          <div class="row" style="padding: 0px;"><h4 class="col-md-12">Transacciones</h4></div>          
          <div class=" row">
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">user</i>
                <p></p>
                <button type="button" (click)="IngresosInventariosListar()" class="btn btn-primary btn-sm">Ingresos </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="EgresosBodegasListar()" class="btn btn-primary btn-sm">Egresos </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">Bodegas</i>
                <p></p>
                <button type="button" (click)="BodegasListar()" class="btn btn-primary btn-sm">Transferencias </button>
              </div>
            </div>


          </div>


          <div class="row" style="padding: 0px;"><h4 class="col-md-12">Reportes</h4></div>          
          <div class=" row">
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">user</i>
                <p></p>
                <button type="button" (click)="KardexInventarios()" class="btn btn-primary btn-sm">Kardex </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="MovimientoInventarios()" class="btn btn-primary btn-sm">Movimientos de Inventarios </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">Bodegas</i>
                <p></p>
                <button type="button" (click)="StockProductosInventarios()" class="btn btn-primary btn-sm">Stock de Productos </button>
              </div>
            </div>


          </div>



        </div>
      </div>
    </div>
  </div>
</div>

