<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Menu Seguridad</h5>
          <p class=" category">Módulo de información de Seguridad en el Sistema</p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">user</i>
                <p></p>
                <button type="button" (click)="UsuariosListar()" class="btn btn-primary btn-sm">Usuarios </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">add_location</i>
                <p></p>
                <button type="button" (click)="PerfilesListar()" class="btn btn-primary btn-sm">Perfiles </button>
              </div>
            </div>
            <div class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class=" font-icon-detail">
                <i class="material-icons" style="font-size:32px;color:blue">domain</i>
                <p></p>
                <button type="button" (click)="PerfilesPorUsuarioListar()" class="btn btn-primary btn-sm">Perfiles/Usuario </button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

