<div class=" content">
  <div class="form-container col md-6">
    <div class="card">
      <div class="card-header">
        <h3>Agregar Pais</h3>
      </div>
    </div>

    <div class="card-body">
      <form [formGroup]="createForm">
        <div class="form-group">
          <div class="form-row">
            <div class="col-4">
              <label for="">Código</label>
              <input type="text" class="form-control form-control-sm" formControlName="codigo" />
            </div>
            <div class="col-4">
              <label for="">Iso2</label>
              <input type="text" class="form-control form-control-sm" formControlName="iso2" />
            </div>
            <div class="col-4">
              <label for="">Iso3</label>
              <input type="text" class="form-control form-control-sm" formControlName="iso3" />
            </div>  
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control form-control-sm" formControlName="nombrePais" />
        </div>
        <div class="col-md-12 text-right"> 

          <button type="button" (click)="guardarPais()" rel="tooltip" class="btn btn-success  btn-round btn-icon">
            <i class="material-icons">save</i>
          </button>
          <button type="button" (click)="getNavigate('PaisListar')" rel="tooltip" class="btn btn-warning btn-round btn-icon">
            <i class="material-icons">exit_to_app</i>
          </button>
      
        </div>
      </form>
    </div>


  </div>
</div>